.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.modal-header{
  border-bottom: 0px !important;
  background-color:#FFF7EA !important;
}

.modal-body{
  background-color:#FFF7EA !important;
}

.carousel-container{
  background-color:#FFF7EA;
  font-family: "Gotham";
  padding: 20px;
}

.learn-more-button{
  background-color:#006642 !important;
  border-color: #006642 !important;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 20px;
  width: 200px;
  height: 44px;
}

.list-item{
  margin:5px;
}

.carousel-control-prev, .carousel-control-next{
  display: none !important;
}

.carousel-indicators li {
  visibility: hidden; 
}

.title1{
  font-family: "Chronicle";
  font-size: 36px;
  line-height: 42px;
}

.body1{
  font-size: 16px;
  line-height: 24px;
}

/* h3{
 margin: 5px;
} */

.list-item{
  margin: 5px;
  border: 0px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
